body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	width: 500px;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid green;
}
h1 {
	margin: 0;
	padding: .30em;
	font-size: 180%;
	color: red;
}
img  {
	float: right;
	margin: 0 1em;
}
p {
	margin: 0;
	padding-bottom: .4em;
}
